[Desktop Entry]
Encoding=UTF-8
Name=BitcoinNode
Comment=BitcoinNode P2P Cryptocurrency
Exec=bitcoinnode-qt %u
Terminal=false
Type=Application
Icon=bitcoinnode128
MimeType=x-scheme-handler/bitcoinnode;
Categories=Office;Finance;
Name[en_US]=bitcoinnode-qt.desktop
