[Unit]
Description=BitNexus's distributed currency daemon
After=network.target

[Service]
User=bitnexuscore
Group=bitnexuscore

Type=forking
PIDFile=/var/lib/bitnexusd/bitnexusd.pid
ExecStart=/usr/bin/bitnexusd -daemon -pid=/var/lib/bitnexusd/bitnexusd.pid \
-conf=/etc/bitnexuscore/bitcoinnode.conf -datadir=/var/lib/bitnexusd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
